@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    list-style: none;
}
body{
    background-color: #142e31;
    
}
/* -------------------------navbar start--------------- */

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: black;
   
    color:white ;

}
 .nav-link ul{
    display: flex;
    align-items: center;
    padding: 10px;

}
.nav-link ul li a{
    margin: 5px;
    text-transform: uppercase;
    font-size:15px;
    color: white;
    transition: 1s all;
   
}
.nav-link ul li a:hover{
    transform: scaleX(1.0);
    color: blueviolet;
    font-size: 14px;
}
.nav-logo img{
    width: 80px;
}
/* -------------------------------navbar end--------------------- */
/* ---------------section1 start----------------- */
.section1{
    width: 100%;
    display: flex;
    justify-content: space-around;
    gap: 10px;
}
.name{
    margin-top: 100px;
    margin-left: 50px;
    font-size: 12px;
    color: white;
    

}
.name span{
    font-size: 45px;
    color: blueviolet;
    text-shadow: 5px 5px 15px black;
}
.right-side >img{
    border: 1px solid skyblue;
    border-radius: 50%;
    background-color: black;
    margin-top: 50px;
    margin-right: 10px;
    box-shadow: 5px 5px 10px skyblue,-5px -5px 10px skyblue;
}
.para{
    margin-left: 50px;
    color: slategray;
    font-size:10px;
    margin-top: 20px;
}
.para2{
    font-weight: bold;
    margin-left: 50px;

}
.para2>span{
    color: wheat;
}
button{
    padding:  5px 15px;
    margin-left: 50px;
    border-radius: 30px;
    text-transform: uppercase;
    background-color: lightblue;
    border: none;
    outline: none;
    font-size: 12px;
   margin-top: 20px;
   box-shadow: 5px 5px 5px rgb(10, 59, 79),-5px -5px 5px rgb(14, 89, 118);

}
/* ------------------------section end-------- */
.services{
    width: 100%;
}
.about-section{
    padding: 30px;
    margin: 30px;
    background-color:#212e3a ;
    display: flex;
    justify-content: space-between;
    box-shadow: 10px 10px 15px black, -10px -10px 15px black;
}
.left >img{
    padding: 15px;
    border-radius: 50%;
    box-shadow: 5px 5px 10px skyblue,-5px -5px 10px skyblue;

}
.right{
    margin-top: 30px;
    padding: 30px;
    margin-left: 50px;
    margin-right: 50px;
}
.right>.title{
    color: #f90c4b;
    font-size: 40px;
    text-shadow: -5px -5px 5px #7b0b29, 5px 5px 5px #800828 ;
}
.paragraph{
    color: silver;
    font-size: 9px;
    font-family: "Montserrat", serif;
}
.right>span{
    color: skyblue;
   font-size: 10px;
   padding-bottom: 10px;
}
.btn{
    border: none;
    outline: none;
    font-weight: bold;
    display: flex;
    align-items: center;
    padding: 15px 25px;
}